<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>好心情</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container mt-3">
  <h2>好心情</h2>
  <p>最新生成的视频会出现在页面下方：</p><div><a href="/send_video_info">返回重新生成</a></div>

	{% for video_url in video_url_list %}

	<video  width="1024" height="768" controls >
		<source src="{{ video_url }}" type="video/mp4">
	</video>
	{% endfor %}


</div>



</body>
</html>